<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

	<targets>
		<target name="logfile" xsi:type="File" fileName="${basedir}\Logs\${shortdate}\${level}.log" layout="[${longdate}]:${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}" />
		<target name="logconsole" xsi:type="Console" />
		<!--<target xsi:type="Mail"
				name="logmail"
				layout="${level}:${newline}${message}${newline}"
				html="true"
				addNewLines="true"
				replaceNewlineWithBrTagInHtml="true"
				subject="ISL M-Files Service Failure ${level}"
				to="it@isl-group.eu"
				bcc="michael.luxenburger@isl-group.eu"
				from="it@isl-group.eu"
				smtpServer="smtprelay.isl-group.local"
				smtpPort="25"
		 />-->
	</targets>

	<rules>
		<logger name="*" minlevel="Trace" writeTo="logconsole" />
		<logger name="*" minlevel="Warn" writeTo="logfile" />
		<logger name="*" minlevel="Warn" writeTo="logmail" />
	</rules>
</nlog>